<!DOCTYPE html>
<html>
  <head>
    <title>Fuzzy search</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div ng-controller="mainController as main">
      <input type="text" ng-model="pattern"/>
      <div ng-repeat="item in main.items | fuzzy:pattern">{{item}}</div>
    </div>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
        <script type="text/javascript" src="fuzzy.js"></script>

  </body>
</html>
